/* style.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Nanum Myeongjo", serif;
  background-color: #f4f4f4;
}

.main-section {
  width: 100%;
  max-width: 450px; /* 모바일 화면 너비에 맞춤 */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 스크롤바 숨기기 */
}

.container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  scroll-snap-align: start;
  background-color: white;
}

#section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#section1 .date {
  font-size: 1.5rem;
  text-align: left;
  align-self: flex-start;
  margin-left: 20px;
  border-left: 1px solid black;
  padding-left: 15px;
}

#section1 .photo {
  margin: 30px 0;
}

#section1 .photo img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#section1 .details {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #333;
}

#section1 .details p {
  margin: 5px 0;
}

#section1 .details p:first-child {
  font-size: 1.3rem;
}

#section1 .details p:last-child {
  font-family: "Roboto", sans-serif; /* 날짜 및 장소에 다른 폰트 적용 */
  font-size: 1.2rem;
}

/* 각 섹션에 다른 파스텔톤 배경 색을 주어 시각적으로 구분 */
#section2 {
  background-color: #ccffcc;
}
#section3 {
  background-color: #ccffff;
}
#section4 {
  background-color: #ffccff;
}
#section5 {
  background-color: #ffffcc;
}
